* {
	font-family: Î¢ÈíÑÅºÚ, Verdana, sans-serif, ËÎÌå;
}
#map {
  position: relative;
  width: 744px; height: 577px;
  background: url("map.png") no-repeat;
}
#map .area {
  position: absolute;
  font-size: 12px;
  color: #000;
}
p.area_shui, p.area_time {
  padding: 0;
  margin: 0;
}
#map .area-data {
  text-decoration: none;
  background: url("zz01.png") no-repeat;
  padding-left: 10px;
}

#overview {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid gray;
  margin-top: 1px;
  background: #ecf4ff;
  width: 200px;
}
#map h3 {
  text-align: center;
  font-size: 16px;
  padding: 4px 0;
  margin: 4px 0;
  border-bottom: 1px solid gray;
}
#overview ul {
  margin-top: 0px;
  padding-left:0px;
  margin-left: 20px;
}
#overview ul li{
  font-size: 12px;
  padding: 4px 0;
}
#overview ul a{
  color: #f00;
  text-decoration: none;
  padding: 0 2px;
}
a.switch {
  text-decoration: none;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  background: url(ss_btn.png) no-repeat;
}

a.switch-hide {
  background: url(zk_btn.png) no-repeat;
}
.switch-rt {
  top: 0;
  right: 0;
}
.switch-lb {
  bottom: 0;
  left: 0;
}

#condition {
  position: absolute;
  bottom: 0;
  left: 0;
}
#condition .main {
  width: 200px;
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}
#condition .main p {
  margin-bottom: 0px;
  background: #aaa;
  padding: 5px;
}
#condition .main table {
  border-collapse:collapse;
  width: 100%;
}
#condition .main td, #condition .main th{
  border: 1px solid #ccc;
  margin: 0px;
  padding: 4px;
}
#condition .main table th {
  background-color: #bbb;
}
.area-tip {
  display: none;
  border-collapse:collapse;

}
.area-tip td, .area-tip th {
  border: 1px solid #ccc;
}
.qtip-content {
  height: 65px;
  overflow-y: auto;
}
